<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="robots" content="noindex, nofollow">
        {% include "style.html.twig" with {} only %}
    </head>
    <body>
        <div class="example-wrapper">
            {% for label, messages in app.flashes %}
                <div class="alert d-flex alert-{{ label }} alert-dismissible fade show" role="alert">
                    <div class="alert-text">
                        {% for message in messages %}
                            {{ message | raw }}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
